.big-box {
  position: relative;
}
.top {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.top .header {
  height: 100rpx;
  width: 100%;
  background-color: #eeeeee;
}
.top .header .search {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top .header .search input {
  width: 620rpx;
  height: 60rpx;
  background-color: #fff;
  padding-left: 40rpx;
  color: #333;
  font-size: 24rpx;
  border-radius: 10rpx;
}
.top .header .search .search-icon {
  position: absolute;
  color: #ccc;
  font-size: 24rpx;
  left: 50rpx;
}
.top .nav {
  background-color: #fff;
  height: 100rpx;
  width: 100%;
  display: flex;
  box-shadow: 0 0 1px #ccc;
}
.top .nav > div {
  flex: 1;
  text-align: center;
  line-height: 100rpx;
  font-size: 30rpx;
}
.top .nav .active {
  color: #eb4450;
}
.bottom {
  background-color: #fff;
  width: 100%;
}
.bottom .item {
  margin: 0 auto;
  padding: 20rpx;
  height: 220prx;
  width: 670rpx;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.bottom .item img {
  width: 200rpx;
  height: 200rpx;
}
.bottom .item .content {
  width: 420rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottom .item .content p {
  font-size: 28rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.bottom .item .content .icon {
  font-size: 25rpx;
  color: #eb4450;
}
.bottom .item .content .num {
  font-size: 40rpx;
  color: #eb4450;
}
